/* # is a ID selector & . is a class selector */

.navbar.sticky-top.navbar-light {background-color: #3E86FE;
}

.navbar-brand {background-color: #3E86FE; 
}

.nav-link {color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.jumbo-bg {
    background-image: url("../img/sunflower-bg_1920.png"); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: right;
   
   }

.jumbotron.jumbotron-fluid {background-color: #3E86FE; color:white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-primary {background-color: #FFD603;}

.img-projects {border-radius: 1%;
}

.container-img {padding: 25px;
}

.row-img {padding: 50px;
}

.skills-text {color: #054F9D
}
.card-style {padding: 10px;
} 

